* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 12px;
    line-height: 22px;
    font-family: verdana, arial, sans-serif;
    color: #727272;
    background: url(images/body-pattern.png) repeat 0 0;
    min-width: 100%;
}

/*font-family: 'Raleway', sans-serif;*/

a { color: #00acef; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

article, aside, details, footer, header, menu, nav, section { display: block; }
input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { width: 981px; margin: 0 auto; }
.container { background: url(images/container.png) repeat-y center 0; box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05); -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05); -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05); -o-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05);  }


#header { margin-bottom: 15px;  position: relative; padding-top: 25px;  height: 43px; background: url(images/border-title.png) repeat-x 0 bottom; }
#logo { width: 129px; font-size: 0; line-height: 0; position:absolute; top: 23px; left: 21px; }
#logo a { height: 26px; display: block; background: url(images/logo.png) no-repeat 0 0; text-indent: -4000px; }
.search { width: 210px; margin-left: auto; padding-right: 21px; }
.search input.field { float:left; width: 166px; padding:0 8px; height: 24px; line-height: 24px;  border: 1px solid #d3d3d3; font-size: 11px; color:#bebebe; background: #ededed; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; }
.search input.search-btn { float:left;  font-size: 0; line-height: 0; text-indent: -4000px; cursor: pointer; width: 20px; height: 26px; border: 0; background: url(images/search-ico.png) no-repeat 0 0; }

#navigation { padding:0 21px;  margin-bottom: 15px; }
#navigation ul { list-style:none; list-style-position: outside; }
#navigation ul li { padding: 0 10px; float: left; font-family: 'Raleway', sans-serif; font-size: 15px; font-weight: 500; }
#navigation ul li:first-child { padding-left: 0; }
#navigation ul li a { color: #4a4a4a; padding: 0 7px; display:block; height: 21px; line-height: 21px; border: 2px solid transparent; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; }
#navigation ul li.active a,
#navigation ul li a:hover { border: 2px solid #029cdb;  background: url(images/nav-btn.png) repeat-x 0 0; color:#fff; text-decoration: none; }
#navigation a.nav-btn { display:none; }

.slider-holder { position: relative; margin-bottom:30px;   }

.slider { background: url(images/slider-bg.jpg) no-repeat 0 0; width: 938px; height: 417px; position:relative; overflow: hidden; padding:0 21px; }
.slider ul { list-style:none; list-style-position: outside; }
.slider ul li { float: left; width: 938px; height: 417px; }
.slider .slide-cnt { width: 450px; height: 220px; position:relative; overflow: hidden; float: right; padding-top: 30px;  }

.slider h4 { color:#fff; font-size: 16px; font-family: 'Raleway', sans-serif;  font-weight: 500; text-shadow: rgba(0,0,0,0.5) 0px 1px 0px; text-transform: uppercase; }
.slider h2 { color:#f8f8f8; font-family: 'Raleway', sans-serif; font-size: 56px; line-height:56px; padding-bottom: 12px; font-weight: 700; text-shadow: rgba(0,0,0,0.5) 0px 1px 0px; }
.slider p { color:#fff; }
.slider p a { color:#fff; text-decoration: underline; }
.slider p a:hover { text-decoration: none; }

.slider img { float:left; margin-right:50px; margin-left: 24px;  }
.slider .socials { width: 158px; margin-left: auto; padding-top:18px;  }
.slider .socials a { width: 31px; height: 30px; float:left; margin-left: 6px;  background: url(images/socials.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4<!DOCTYPE html>
<html lang="en" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
<head>
    <?php
              include("classes\ConnectionClass.php");
              $conn=new ConnectionClass();
         ?>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
	<title>student exclusion system</title>
	<link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css' />
	
	<script src="js/jquery-1.8.0.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="js/modernizr.custom.js"></script>
	<![endif]-->
	<script src="js/functions.js" type="text/javascript"></script>
</head>
<body>
	<!-- wraper -->
	<div id="wrapper">
		<!-- shell -->
		<div class="shell">
			<!-- container -->
			<div class="container">
				<!-- header -->
				<header id="header">
					<h1><a href="#">Student Exclusion Record System</a></h1>
					<!-- search -->
					<div class="search">
						<form method="post">
                                                    
						</form>
					</div>
					<!-- end of search -->
				</header>
				<!-- end of header -->
				<!-- navigation -->
				<h3>Mentor</h3>
				<!-- end of navigation -->
				<!-- slider -->
				<div class="m-slider">
					<div class="slider-holder">
						<span class="slider-shadow"></span>
						<span class="slider-b"></span>
					
					</div>
				</div>		
				<!-- end of slider -->
				<!-- main -->
				<div class="main">
					<section class="cols">
						<nav id="navigation">
					<ul>
                                            
						<li><a href="admin.php">Head Of Department</a></li>
						<li><a href="student.php">Student</a></li>
						<li class="active"><a href="mentor.php">Mentor</a></li>
						<li><a href="registar.php">Registrar</a></li>
					</ul>
                                        </nav>
					</section>
					<section class="post">
                                            <form method="POST">
                                                <?php
                                                include 'MentorVerification.html';
                                                echo "Select which student you would like to report for<br/>";
                                                echo $conn->DisplayStudentList();
                                                include 'mentor.xhtml';
                                                if($_POST['submit']=="Submit Student Report")
                                                {
                                                    echo $conn->SubmitReport($_POST['report'],$_POST['students'],$_POST['password']);
                                                    //echo $conn->CommitStudentResults($_POST['report'],$_POST['students'],$_POST['password']);
                                                   
                                                }
                                            ?>
                                            </form>
                                            
					</section>

					<section class="testimonial">
						<p>results section here....</p>
                                                <?php
                                                    
                                                ?>
					</section>
				</div>
				<!-- end of main -->
				<div class="socials">
					<div class="socials-inner">
						<h3></h3>
						<ul>
						
						</ul>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
				<div id="footer">
					<!-- end of footer-cols -->
					<div class="footer-bottom">
						<nav class="footer-nav">
							<ul>
								<li><a href="admin.php">Administration</a></li>
								<li><a href="student.php">Student</a></li>
								<li class="active"><a href="mentor.php">Mentor</a></li>
								<li><a href="registar.php">Registar</a></li>
							</ul>
						</nav>
						<p class="copy">&copy; Copyright 2012 tandoe mhagakazi<span>|TUT Soshanguve</span>></p>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
			</div>
			<!-- end of container -->	
		</div>
		<!-- end of shell -->	
	</div>
	<!-- end of wrapper -->
</body>
</html>                                                                                                                                          lesheet" href="css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css' />
	
	<script src="js/jquery-1.8.0.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="js/modernizr.custom.js"></script>
	<![endif]-->
	<script src="js/functions.js" type="text/javascript"></script>
</head>
<body>
	<!-- wraper -->
	<div id="wrapper">
		<!-- shell -->
		<div class="shell">
			<!-- container -->
			<div class="container">
				<!-- header -->
				<header id="header">
					<h1><a href="#">Student Exclusion Record System</a></h1>
					<!-- search -->
					<div class="search">
						<form method="post">
                                                    
						</form>
					</div>
					<!-- end of search -->
				</header>
				<!-- end of header -->
				<!-- navigation -->
				<h3>Registar</h3>
				<!-- end of navigation -->
				<!-- slider -->
				<div class="m-slider">
					<div class="slider-holder">
						<span class="slider-shadow"></span>
						<span class="slider-b"></span>
					
					</div>
				</div>		
				<!-- end of slider -->
				<!-- main -->
				<div class="main">
					<section class="cols">
						<nav id="navigation">
					<ul>
						<li><a href="admin.php">Head Of Department</a></li>
						<li><a href="student.php">Student</a></li>
						<li><a href="mentor.php">Mentor</a></li>
						<li class="active"><a href="registar.php">Registrar</a></li>
					</ul>
				</nav>
					</section>
					<section class="post">
                                            <form method="POST">
                                            <?php
                                                include 'student.html';
                                                $studentNumber=$_POST['studentNumber'];
                                                echo $conn->ShowStudentMarks($conn->searchStudent($studentNumber));
                                            ?>   
                                            </form>
					</section>

					<section class="testimonial">
						<p>results section here....</p>
					</section>
				</div>
				<!-- end of main -->
				<div class="socials">
					<div class="socials-inner">
						<h3></h3>
						<ul>
						
						</ul>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
				<div id="footer">
					<!-- end of footer-cols -->
					<div class="footer-bottom">
						<nav class="footer-nav">
							<ul>
								<li ><a href="admin.php">Administration</a></li>
								<li><a href="student.php">Student</a></li>
								<li><a href="mentor.php">Mentor</a></li>
								<li class="active"><a href="registar.php">Registar</a></li>
							</ul>
						</nav>
						<p class="copy">&copy; Copyright 2012 tandoe mhagakazi<span>|TUT Soshanguve</span>></p>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
			</div>
			<!-- end of container -->	
		</div>
		<!-- end of shell -->	
	</div>
	<!-- end of wrapper -->
</body>
</html>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <!DOCTYPE html>
<html lang="en" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
<head>
    <?php
              include("classes\ConnectionClass.php");
              $conn=new ConnectionClass();
         ?>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
	<title>student exclusion system</title>
	<link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css' />
	
	<script src="js/jquery-1.8.0.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="js/modernizr.custom.js"></script>
	<![endif]-->
	<script src="js/functions.js" type="text/javascript"></script>
</head>
<body>
	<!-- wraper -->
	<div id="wrapper">
		<!-- shell -->
		<div class="shell">
			<!-- container -->
			<div class="container">
				<!-- header -->
				<header id="header">
					<h1><a href="#">Student Exclusion Record System</a></h1>
					<!-- search -->
					<div class="search">
						<form method="post">
                                                    
						</form>
					</div>
					<!-- end of search -->
				</header>
				<!-- end of header -->
				<!-- navigation -->
				<h3>Student</h3>
				<!-- end of navigation -->
				<!-- slider -->
				<div class="m-slider">
					<div class="slider-holder">
						<span class="slider-shadow"></span>
						<span class="slider-b"></span>
					
					</div>
				</div>		
				<!-- end of slider -->
				<!-- main -->
				<div class="main">
					<section class="cols">
						<nav id="navigation">
					<ul>
						<li><a href="admin.php">Head Of Department</a></li>
						<li class="active"><a href="student.php">Student</a></li>
						<li><a href="mentor.php">Mentor</a></li>
						<li><a href="registar.php">Registrar</a></li>
					</ul>
				</nav>
					</section>
					<section class="post">
                                            <form method="POST">
                                                <?php
                                                  include 'student.html';
                                                  $studentNumber=$_POST['studentNumber'];
                                                  echo $conn->ShowStudentMarks($conn->searchStudent($studentNumber));
                                                  ?>
                                            </form>
					</section>

					<section class="testimonial">
						<p>results section here....</p>
					</section>
				</div>
				<!-- end of main -->
				<div class="socials">
					<div class="socials-inner">
						<h3></h3>
						<ul>
						
						</ul>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
				<div id="footer">
					<!-- end of footer-cols -->
					<div class="footer-bottom">
						<nav class="footer-nav">
							<ul>
								<li><a href="admin.php">Administration</a></li>
								<li class="active"><a href="student.php">Student</a></li>
								<li><a href="mentor.php">Mentor</a></li>
								<li><a href="registar.php">Registar</a></li>
							</ul>
						</nav>
						<p class="copy">&copy; Copyright 2012 tandoe mhagakazi<span>|TUT Soshanguve</span></p>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
			</div>
			<!-- end of container -->	
		</div>
		<!-- end of shell -->	
	</div>
	<!-- end of wrapper -->
</body>
</html>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              PK    À]WC¿6¾À  b     studentexclusiondb.sql½–msÚ8Çßó)öúè‚x„3q‰ÛxÛ9ìt.÷Vc·Øb$¹”ûô'	‡§@H™^óJÞýïjµú¡l¥óhî,Í0‰SðÿÀm–Ì•
|'ŒÇ4…Fµ^m